[submodule "deps/p5.capture"]
	path = deps/p5.capture
	url = git@github.com:sevenc-nanashi/p5.capture
[submodule "deps/reaper-project-parser"]
	path = deps/reaper-project-parser
	url = https://github.com/GriffinSauce/reaper-project-parser.git
